# SolidScript code owners
# Owners are requested for review automatically on any PR touching paths listed here.
# https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

* @usezoracle
